name: CI

permissions:
  contents: read
  pull-requests: write

on:
  push:
    branches: [ main, release/* ]
    tags: [ v* ]
  pull_request:
    branches: [ main, release/* ]

jobs:
  build:
    runs-on: macos-15

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0 # Required for Calculate Version step (e.g. GitVersion)

      - name: Install GitVersion
        uses: gittools/actions/gitversion/setup@51d325634925d7d9ce0a7efc2c586c0bc2b9eee6 #v3.2.1
        with:
          versionSpec: '6.3.0'

      - name: Determine Version
        id: gitversion
        uses: gittools/actions/gitversion/execute@51d325634925d7d9ce0a7efc2c586c0bc2b9eee6 #v3.2.1
        with:
          useConfigFile: true
          updateProjectFiles: true

      - name: Show SDKS
        run: |
          xcodebuild -showsdks
          xcrun simctl list devices

      - name: Run Unit Tests
        run: |
          xcodebuild test \
            -project "Sample Project/CheckBox.xcodeproj" \
            -scheme CheckBoxTests \
            -destination 'platform=iOS Simulator,OS=18.5,name=iPhone 16' \
            -resultBundlePath TestResults
        timeout-minutes: 10

      - name: Build XCFramework
        run: ./Scripts/build-xcframework.sh

      # Upload the directory, not a zip file, as uploading an artificate will automatically zip it
      # and we don't want a zip in a zip.
      - name: Upload Build Artificates to GitHub Workflow
        uses: actions/upload-artifact@v4
        with:
          name: BEMCheckBox-v${{ steps.gitversion.outputs.majorMinorPatch }}.xcframework
          path: Temp/Release-fat/BEMCheckBox.xcframework

      # Only update to the release on a tag push.  Assume the release exists by the
      # time we create the tag.  Also we need to create the zip as uploading to the release
      # does not automatically zip the file.
      - name: Upload XCFramework to GitHub Release
        if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags/')
        run: |
          cd Temp/Release-fat/BEMCheckBox.xcframework
          zip -r BEMCheckBox-v${{ steps.gitversion.outputs.majorMinorPatch }}.xcframework.zip .
          echo "Listing: Temp/Release-fat/BEMCheckBox.xcframework" && ls -la
          dotnet gitreleasemanager addasset --token ${{ secrets.GITHUB_TOKEN }} --owner ${{ github.repository_owner }} --repository ${{ github.event.repository.name }} --tagName v${{ steps.gitversion.outputs.majorMinorPatch }} --assets BEMCheckBox-v${{ steps.gitversion.outputs.majorMinorPatch }}.xcframework.zip
